.zz{;font-family: cursive;color: darkslateblue}

#one{width: 90%;height: 50%}
.ff{font-family:cursive;font-size: large}
#KM{color: rosybrown;font-size: xxx-large}
.nm{background-image: url("Untitled (copy).jpeg")}
#uj{color: darkmagenta;font-family: cursive;background-color: olive}
body{background-color:maroon }