{% extends 'layout.html' %}

{% load static %}


{% block body %}
<h2>MY JOBS IN KENYA</h2>

 <p>Application is of free charge</p>
    why are you intrested in jobs
    <select name="" id="">
        <option value="age">AGE</option>
        <option value="">NUMBER</option>
        <option value="">GENDER</option>
        <option value="">GRADE</option>


    </select>
    <br><br><br>
    <h2>LOGIN DETAILS</h2>

    <input type="text" placeholder="Email">
    <input type="text" placeholder="INFO ABOUT YOU">
    <input type="number" placeholder="ID NUMBER">
    <input type="number" placeholder="PHONE NUMBER">





{% endblock %}